
html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0,0,0,.87);
  height: 100%;
}

*, :after, :before {
  box-sizing: inherit;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  color: #1e70bf;
  text-decoration: none;
}

.ui.container {
  display: block;
  max-width: 100%!important;
}

@media only screen and (min-width: 1200px){
  .ui.container {
      width: 1127px;
      margin-left: auto!important;
      margin-right: auto!important;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px){
  .ui.container {
      width: 723px;
      margin-left: auto!important;
      margin-right: auto!important;
  }
}

@media only screen and (max-width: 767px){
  .ui.container {
      width: auto!important;
      margin-left: 1em!important;
      margin-right: 1em!important;
  }
}

.ui.grid>* {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ui.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0;
}

.ui.grid {
  margin-top: -1rem;
  margin-bottom: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.ui.centered.grid, 
.ui.centered.grid>.row, 
.ui.grid>.centered.row {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ui.grid>.row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%!important;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ui.grid>.column:not(.row), 
.ui.grid>.row>.column {
  position: relative;
  display: inline-block;
  width: 6.25%;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: top;
}

.ui.grid>.row>[class*="left aligned"].column.column, 
.ui.grid>[class*="left aligned"].column.column, 
.ui.grid>[class*="left aligned"].row>.column, 
.ui[class*="left aligned"].grid>.column, 
.ui[class*="left aligned"].grid>.row>.column {
  text-align: left;
  -ms-flex-item-align: inherit;
  -ms-grid-row-align: inherit;
  align-self: inherit;
}

.ui.grid>.column:only-child, 
.ui.grid>.row>.column:only-child {
  width: 100%;
}

.ui.column.grid>[class*="eleven wide"].column, 
.ui.grid>.column.row>[class*="eleven wide"].column, 
.ui.grid>.row>[class*="eleven wide"].column, 
.ui.grid>[class*="eleven wide"].column {
  width: 68.75%!important;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  position: relative;
  display: inline-block;
  width: 6.25%;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: top;
}

.ui.grid>.row>.column {
  margin-top: 0;
  margin-bottom: 0;
}

.ui[class*="two column"].grid>.column:not(.row), 
.ui[class*="two column"].grid>.row>.column {
  width: 50%;
}

.ui.column.grid>[class*="sixteen wide"].column, 
.ui.grid>.column.row>[class*="sixteen wide"].column, 
.ui.grid>.row>[class*="sixteen wide"].column, .ui.grid>[class*="sixteen wide"].column {
  width: 100%!important;
}

@media only screen and (min-width: 992px){
  .ui.column.grid>[class*="eleven wide computer"].column, 
  .ui.grid>.column.row>[class*="eleven wide computer"].column, 
  .ui.grid>.row>[class*="eleven wide computer"].column, 
  .ui.grid>[class*="eleven wide computer"].column {
      width: 68.75%!important;
  }
}

@media only screen and (max-width: 767px){
  .ui.grid>.stackable.stackable.row>.column, 
  .ui.stackable.grid>.column.grid>.column, 
  .ui.stackable.grid>.column.row>.column, 
  .ui.stackable.grid>.column:not(.row), 
  .ui.stackable.grid>.row>.column, 
  .ui.stackable.grid>.row>.wide.column, 
  .ui.stackable.grid>.wide.column {
      width: 100%!important;
      margin: 0 0!important;
      box-shadow: none!important;
      padding: 1rem 1rem!important;
  }
}

.ui.centered.grid>.column:not(.aligned):not(.justified):not(.row), 
.ui.centered.grid>.row>.column:not(.aligned):not(.justified), 
.ui.grid .centered.row>.column:not(.aligned):not(.justified) {
  text-align: left;
}

.ui.header {
  border: none;
  margin: calc(2rem - .14285714em) 0 1rem;
  padding: 0 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 1.28571429em;
  text-transform: none;
  color: rgba(0,0,0,.87);
}

h2.ui.header {
  font-size: 1.71428571rem;
}

.ui.header:first-child {
  margin-top: -.14285714em;
}

.ui.header:last-child {
  margin-bottom: 0;
}

.ui.message {
  position: relative;
  font-size: 1em;
  min-height: 1em;
  margin: 1em 0;
  background: #f8f8f9;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: rgba(0,0,0,.87);
  -webkit-transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
  transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
  border-radius: .28571429rem;
}

.ui.message:last-child {
  margin-bottom: 0;
}

.ui.warning.message {
  background-color: #fffaf3;
  color: #573a08;
}

.ui.attached.warning.message, .ui.warning.message {
  box-shadow: 0 0 0 1px #c9ba9b inset, 0 0 0 0 transparent;
}

.ui.warning.message .header {
  display: block;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  margin: -.14285714em 0 0 0;
  color: #794b02;
  font-size: 1.14285714em;
  margin-bottom: 0;
  margin-top: 0;
}

.ui.items {
  margin: 1.5em 0;
}

.ui.items:first-child {
  margin-top: 0!important;
}

.ui.items:last-child {
  margin-bottom: 0!important;
}

.ui.items>.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
  width: 100%;
  min-height: 0;
  background: 0 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: box-shadow .1s ease;
  transition: box-shadow .1s ease;
  font-size: 1em;
}

.ui.items>.item:last-child {
  margin-bottom: 0;
}

.ui.items>.item:first-child {
  margin-top: 0;
}

.ui.relaxed.items>.item {
  margin: 1.5em 0;
}

.ui.items>.item>.image {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  max-height: '';
  -ms-flex-item-align: top;
  -ms-grid-row-align: top;
  align-self: top;
}

.ui.items>.item>.image:not(.ui) {
  width: 175px;
}

.ui.items>.item>.image>img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: .125rem;
  border: none;
}

.ui.items>.item>.content {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background: 0 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-size: 1em;
  border: none;
  border-radius: 0;
}

.ui.items>.item>.image+.content {
  min-width: 0;
  width: auto;
  display: block;
  margin-left: 0;
  -ms-flex-item-align: top;
  -ms-grid-row-align: top;
  align-self: top;
  padding-left: 1.5em;
}

.ui.items>.item:after {
  display: block;
  content: ' ';
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.ui.items>.item a {
  cursor: pointer;
}

.ui.items>.item>.content>.header {
  display: inline-block;
  margin: -.21425em 0 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  color: rgba(0,0,0,.85);
}

.ui.items>.item>.content>a.header:hover {
  color: #1e70bf;
}

.ui.items>.item .meta {
  margin: .5em 0 .5em;
  font-size: 1em;
  line-height: 1em;
  color: rgba(0,0,0,.6);
}

.ui.items>.item .meta * {
  margin-right: .3em;
}

.ui.items>.item .meta :last-child {
  margin-right: 0;
}

.ui.items>.item>.content>.description {
  margin-top: .6em;
  max-width: auto;
  font-size: 1em;
  line-height: 1.4285em;
  color: rgba(0,0,0,.87);
}

.ui.items>.item .extra {
  display: block;
  position: relative;
  background: 0 0;
  margin: .5rem 0 0;
  width: 100%;
  padding: 0 0 0;
  top: 0;
  left: 0;
  color: rgba(0,0,0,.4);
  box-shadow: none;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
  border-top: none;
}

.ui.items>.item>.content>.header:not(.ui) {
  font-size: 1.28571429em;
}

@media only screen and (max-width: 767px){
  .ui.items:not(.unstackable)>.item>.image {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}

@media only screen and (max-width: 767px){
  .ui.items:not(.unstackable)>.item>.image, .ui.items:not(.unstackable)>.item>.image>img {
      max-width: 100%!important;
      width: auto!important;
      max-height: 250px!important;
  }
}

.ui.label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 .14285714em;
  background-color: #e8e8e8;
  background-image: none;
  padding: .5833em .833em;
  color: rgba(0,0,0,.6);
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: .28571429rem;
  -webkit-transition: background .1s ease;
  transition: background .1s ease;
}

.ui.label, .ui.labels .label {
  font-size: .85714286rem;
}

.ui.label:first-child {
  margin-left: 0;
}

.ui.label:last-child {
  margin-right: 0;
}

.ui.items>.item .extra>* {
  margin: .25rem .5rem .25rem 0;
}

.ui.items>.item .extra:after {
  display: block;
  content: ' ';
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.ui.items>.item>.content:after {
  display: block;
  content: ' ';
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.ui.form {
  font-size: 1rem;
  position: relative;
  max-width: 100%;
}

p {
  margin: 0 0 1em;
  line-height: 1.4285em;
}

p:first-child {
  margin-top: 0;
}

.ui.form>p {
  margin: 1em 0;
}

.ui.form .field {
  clear: both;
}

button, input {
  overflow: visible;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input[type=email] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.ui.form input[type=email]:focus {
  color: rgba(0,0,0,.95);
  border-color: #85b7d9;
  border-radius: .28571429rem;
  background: #fff;
  box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
}

.ui.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

.ui.button, .ui.buttons .button, .ui.buttons .or {
  font-size: 1rem;
}

.ui.active.button:active, .ui.button:active {
  background-color: #babbbc;
  background-image: '';
  color: rgba(0,0,0,.9);
  box-shadow: 0 0 0 1px transparent inset,none;
}

.ui.button:focus {
  background-color: #cacbcd;
  color: rgba(0,0,0,.8);
  background-image: ''!important;
  box-shadow: ''!important;
}

.ui.button:hover {
  background-color: #cacbcd;
  background-image: none;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  color: rgba(0,0,0,.8);
}

.ui.form input[type=email] {
  width: 100%;
  vertical-align: top;
}


.ui.form input[type=email] {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255,255,255,0);
  line-height: 1.21428571em;
  padding: .67857143em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
}

.ui.image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent;
}

/* custom styles start */
.logo {
  max-width: 450px;
  margin: 90px 0px 0px 0px;
}
.logo-image {
  width: 100%;
}
.content {
  color: #222;
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  padding: 0px 0px 25px 0px;
}
.content a {
  color: #0881b3;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.content a:hover {
  -webkit-transition-property: border;
  -moz-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-bottom: 2px solid;
}
.disabled {
  background-color: white;
  opacity: 0.50;
  -moz-opacity:0.50;
}
.spacer {
  margin-bottom: 75px;
}
.small {
  font-size: 19px;
}
.event-logo {
  max-height: 80px;
}